/* Importación de fuentes de google fonts */ 
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);


.contact_form {  
  width: 780px; 
  height: 1000px;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #f5f5f500; 
  padding-left: 30px; 
}


input{
  background-color: #e4e4e4; 
  width: 700px; 
  height: 40px; 
  border-radius: 10px;  
  border-style: solid; 
  border-width: 1px; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #e4e4e4; 
  width: 700px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #275A96; 
  border-color: white; 
  border-style: solid; 
  border-radius: 10px;  
  width: 700px;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


span{
  color: #ab4493; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 40px;  
  text-align: left; 
  width: 500px;
  padding-bottom: 10px; 
  color: #275A96;
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


p {
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #d8ca48;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #d8ca48;
}


figure.popo {
  background: url(../img/imgp.jpg) no-repeat center /contain;
  width: 800PX;
  height: 800px;
  float: right;
  margin-top: 80px;
}
