@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    font-family: 'Poppins';
    margin: 0;
}
body {
    background: url(../img/pattern.png) center;
    min-height: 1000px;
}

/* Header */
header {
    background-color: #414141;
    display: flex;
    height: 120px;
}
header div.logo-title {
    height: 120px;
    width: 350px;
}
 header figure.logo {
    background: url(../img/Logo.png) no-repeat center;
    background-size: contain;
    float: left;
    height: 120px;
    margin: 0 4px;
    width: 120px;
}
header figure.title {
    background: url(../img/nombre-colegio.svg) no-repeat center;
    background-size: contain;
    height: 120px;
    margin: 0 125px;
    padding: 15px 0;
    width: 300px;
}
/* Navegation Header*/
header div.navegation {
    display: flex;
    text-align: center;
    width: 100%;
}
header div.navegation a {
    color: #fff;
    font-family: 'Poppins';
    font-size: 1.7rem;
    margin: auto 10px;
    text-decoration: none;
}
header div.navegation a:hover {
    cursor: pointer;
    text-decoration: 3px underline #E7C006;
}