figure.simb {
    background: url(../img/bandera.jpg) no-repeat center /contain;
    width: 400px;
    height: 400px;
    margin: 0px 150px ;
    display: inline-block;
}
figure.simbolo_logo {
    background: url(../img/Logo\ Oficial.png) no-repeat center /contain;
    width: 400px;
    height: 400px;
    margin: 0px 205px ;
    display: inline-block;
}
div.simbolo {
    display: inline-block;
    width: 600px;
    text-align: justify;
}
section.simbolo {
    display: inline-block;
    width: 600px;
    text-align: justify;
    margin-top: 100px;
    margin-left: 200px;
    border: none;
    background-color: rgba(0, 0, 0, 0.082);
    border-bottom: 5px solid;
    border-color: blue;
}
div.simbolo h1 {
    color: mediumblue;
    background-size: cover;
}
div.simbolo h3.green {
    color: green;
}
div.simbolo h3.yellow {
    color: yellow;
}
div.simbolo h3.white {
    color: white;
}